<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist"><% _.each(sheets, function(sheet, sheetId) { %>
    <li role="presentation" class="<% if (sheetId == active) { %>active<% } %>">
        <a href="#sheet<%= sheetId %>" aria-controls="sheet<%= sheetId %>" role="tab" data-toggle="tab"><%= sheet.name %></a>
    </li>
<% }); %></ul>

<!-- Tab panes -->
<div class="tab-content"><% _.each(sheets, function(sheet, sheetId) { %>
    <div role="tabpanel" class="tab-pane <% if (sheetId == active) { %>active<% } %>" id="sheet<%= sheetId %>">
        <% var maxRowId = Math.max.apply(Math, [10].concat(_.map(sheet.cells, function (cells) { return Math.max.apply(Math, _.keys(cells))})));
            var maxColumnId = Math.max.apply(Math, [10].concat(_.map(sheet.cells, function(_val, col) { return app.columnToIndex(col)})));
        %>

        <table class="table table-bordered table-condensed" data-sheet="<%=sheetId%>">
            <thead><tr>
                <th style="max-width: 30px;">#</th>
                <% for (var colIdx = 1; colIdx <= maxColumnId; colIdx++) { %>
                    <th><%=app.indexToColumn(colIdx)%></th>
                <% } %>
            </tr></thead>

        <% for (var row = 1; row <= maxRowId; row++) { %>
            <tr>
                <td><%=row%></td>
            <% for (var colIdx = 1; colIdx <= maxColumnId; colIdx++) {
                var col = app.indexToColumn(colIdx); %>
                <td data-row="<%=row%>" data-col="<%=col%>"><%= (sheet.cells[col] && sheet.cells[col][row])
                            ? app.encodeDisplayed(sheet.cells[col][row].computed)
                            : ''%></td>
            <% } %>
            </tr>
        <% } %>
        </table>
    </div>
<% }); %></div>

